.main {
    width: 498px;
    height: 320px;
}

.title {
    margin-left: 11px;
    margin-top: 17px;
    width: 136px;
    height: 48px;
}

.title_icon {
    float: left;
    width: 18px;
    height: 18px;
    position: relative;
    left: 15px;
    top: 18px;
}

.title_text {
    font-size: 16px;
    line-height: 48px;
    position: relative;
    left: 24px;
    top: 2px;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
}

.chart {
    width: 295px;
    height: 230px;
    position: absolute;
    left: 184px;
    top: 70px;
}

.axisLabel {
    position: relative;
    height: 31px;
    width: 149px;
    margin-bottom: 15px;
}

.yAxis {
    position:absolute;
    top: 77px;
    left: 25px;
}

.axisLabel_text {
    font-size: 14px;
    position: absolute;
    left: 12px;
    top: 6px;
}
.axisLabel_value {
    position: absolute;
    left: 54px;
    top: 3px;
    color: #FDFF78;
    font-size: 18px;
    font-family: 'DINPro-Bold'
}

.axisLabel_total {
    position: absolute;
    right: 11px;
    font-size: 16px;
    top: 5px;
    font-family: 'DINPro-Bold'
}