.main {
    width: 498px;
    height: 320px;
}

.title {
    margin-left: 11px;
    margin-top: 17px;
    width: 136px;
    height: 48px;
}

.title_icon {
    float: left;
    width: 18px;
    height: 18px;
    position: relative;
    left: 15px;
    top: 18px;
}

.title_text {
    font-size: 16px;
    line-height: 48px;
    position: relative;
    left: 24px;
    top: 2px;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
}

.left {
    position: absolute;
    width: 197px;
    left: 17px;
    height: 66px;
}

.right {
    position: absolute;
    width: 197px;
    left: 277px;
    top: 66px;
}

.legend {
    width: 197px;
    height: 83px;
    position: relative;
}

.legend_text {
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    left: 93px;
    top: 22px;
}

.legend_num {
    position: absolute;
    font-size: 24px;
    color: #FFF66F;
    font-weight: 500;
    top: 36px;
    left: 92px;
    font-family: 'DINPro-Medium';
}


.left .legend:nth-child(2),
.right .legend:nth-child(2) {
    position: relative;
    bottom: 5px;
}

.left .legend:nth-child(3),
.right .legend:nth-child(3) {
    position: relative;
    bottom: 10px;
}